.about-container {
    width: 100%;
    height: 100%;
    min-height: 85vh;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
  
.about-container .svg {
    display: none;
}
  

.about-container .content {
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 1rem;

}
  
.content h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #FFD700;
}
  
.content p {
    display: flex;
    font-size: 1.5rem;
    margin: 1rem 0;
    padding: 0 1rem;
    color: white;
    justify-content: center;
}

/* Medium */
@media screen and (min-width: 481px) {}
  
/* Large */
@media screen and (min-width: 900px) {
    .about-container {
      flex-direction: row;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding: 0 2rem;
    }
  
    .about-container .svg {
      display: block !important;
      width: 90%;
      height: 90%;
    }
  
    .svg img {
      width: 100%;
      height: 100%;
    }
  
    .about-container .content {
      padding: 0 1rem;
      text-align: center;
    }
  
    .content h1 {
      font-size: 4rem;
    }
  
    .content p {
      padding: 0;
      display: flex;
      justify-content: center;
    }
}
  
/* Extra Large */
@media screen and (min-width: 1025) {}
  
/* XXL */
@media screen and (min-width: 1201) {}